<header class="page-header">
  <h1>About</h1>
</header>

<%# <p>Find me in app/views/about/index.html.erb</p> %>

<h3> Welcome to our online plant store! </h3>
<br>
<h4> Click on the categories above to start shopping 🪴</h4>
<br>
<br>


